PORT=5000
MONGODB_URI=mongodb://localhost:27017/certverify
JWT_SECRET=change-this-secret
API_URL=http://localhost:5000
FRONTEND_URL=http://localhost:3000
SUPERADMIN_EMAIL=admin@example.com
SUPERADMIN_PASSWORD=change-this-admin-password
SUPERADMIN_NAME=System Administrator

EMAIL_HOST=mail.privateemail.com
EMAIL_PORT=587
EMAIL_USER=your-email@example.com
EMAIL_PASS=your-email-app-password
